/* Drawing area properties. */
.drawing-area {
    cursor: crosshair;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Box properties and their variants. */
.box {
    border: thin solid black;
    cursor: move;
    position: absolute;
}

.box-highlight {
    box-shadow: 0px 0px 6px #88F;
    -moz-box-shadow: 0px 0px 6px #88F;
    -webkit-box-shadow: 0px 0px 6px #88F;
}
