body {
    background-image: -webkit-gradient(linear,
        left top,
        left bottom,
        color-stop(0.3, rgb(157, 156, 166)),
        color-stop(1, rgb(67, 68, 75))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(157, 156, 166) 30%,
        rgb(67, 68, 75) 100%
    );
    margin: 0;
    width: 768px;
}

#content-to-type {
    color: black;
    font-family: monospace;
    font-size: 16px;
    margin: 10px;
    padding: 10px;
}

.content-normal {
    background-color: white;
}

.content-error {
    background-color: #ffa;
}
 
div.keyboard, div.key {
    -moz-user-select: none;
    -webkit-user-select: none;
}

div.keyboard {
    margin: 0 3px;
}

div.keyboard-row:last-child {
    margin-left: 207px;
}

div.key, div.key span {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}    

div.key {
    border: 1px solid black;
    display: inline-block;
    margin: 2px 2px;
    width: 59px;
    height: 58px;
    -moz-box-shadow: 0px 1px 2px #666666;
    -webkit-box-shadow: 0px 1px 2px #666666;
    text-align: center;
    vertical-align: middle;
}

div.key span {
    /*border-top: 1px solid white;*/
    color: black;
    display: inline-block;
    font-family: Helvetica Neue Bold, Helvetica, Arial, sans-serif;
    font-size: 21px;
    padding-top: 18px;
    text-align: center;
    width: 59px;
    height: 41px;
}

.inactive {
    background-image: -webkit-gradient(linear,
        left top,
        left bottom,
        color-stop(0.3, rgb(240, 240, 240)),
        color-stop(1, rgb(210, 210, 216))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(240, 240, 240) 30%,
        rgb(210, 210, 216) 100%
    );
}

.active {
    background-image: -webkit-gradient(linear,
        left top,
        left bottom,
        color-stop(0.3, rgb(200, 200, 200)),
        color-stop(1, rgb(105, 105, 108))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(200, 200, 200) 30%,
        rgb(105, 105, 108) 100%
    );
}

div.keyboard-row {
    margin: 3px 1px;
}

div.keyboard-row.home {
    margin-left: 35px;
}

#backspace-key {
    width: 63px;
}

#return-key {
    width: 98px;
}

#left-shift-key {
    width: 58px;
}

#right-shift-key {
    width: 64px;
}

#space-bar, #space-bar-hit {
    width: 335px;
}

.typed-text {
    background-color: #fc0;
}

.current-text {
    border-bottom: solid black 2px;
}

.done {
    background-color: #0bdc00;
}

#timing-result {
    background-color: white;
    border-style: inset;
    border-width: 1px;
    float: right;
    margin: 0 1em;
    padding: 0 1ex;
}
