.App {
  display: flex;
  flex-direction: column;
  margin: 1rem 4rem;
}

.Main {
  display: flex;
}

.Demo-container {
  flex-grow: 1;
  margin-right: 1rem;
  width: 66%;
}

.Event-log-container {
  flex-grow: 1;
  width: 33%;
}

.Event-log {
  height: 64em;
  overflow: scroll
}
